/* responsive */
@media screen and (min-width: 1300px){
  .animation__bar{
    width: 12px;
  }
  .animation__bar:nth-child(2){
    right: 25px;
  }
  .animation__bar:nth-child(3){
    right: 40px;
  }
}
@media screen and (max-width: 1199px) {
  .box__section{
    width: calc((100% / 4) - 10px);
  }
}
@media screen and (max-width: 991px) {
  .box__section{
    width: calc((100% / 3) - 10px);
  }
}

@media screen and (max-width: 767px) {
  .box__section{
    width: calc((100% / 2) - 10px);
  }
  aside{
    width: 200px;
  }
  .folder i{
    flex-basis: 100%;
  }
}
@media screen and (max-width: 600px) {
  aside{
    width: 50px;
    text-align: center;
  }
  .main__nav__list,
  .playlist,
  .logo{
    display: none;
  }
  header{
    padding: 10px 0;
  }
  .main__nav li a{
    border: none;
    padding: 5px 0;
  }
  .main__nav li a:hover,
  .main__nav li a:focus{
    color: #fff;
    border: none;
  }
  .logo_xs{
    display: inline-block;
  }
  .main__nav__list_xs{
    display: inline-block;
  }
  .install,
  .user{
    display: none;
  }
  .install_xs,
  .user_xs{
    display: inline-block;
    margin-bottom: 5px;
  }
  .user__box hr{
    display: none;
  }
  footer{
    padding: 5px;
  }
  .footer__info_music{
    justify-content: center;
  }
  .track_img img{
    width: 35px;
  }
  .track_name h6{
    font-size: 11px;
  }
  .track_name span small{
    font-size: 9px;
  }
  .folder i{
    flex-basis: auto;
  }
  .footer__player{
    order: -1;
    width: 100%;
  }
  .footer__info_music,
  .footer__audio{
    width: 50%;
  }
  .button__player li {
    margin-right: 25px;
    font-size: 9px;
  }
  .btn__play {
    font-size: 20px;
  }
  .footer__audio{
    justify-content: center;
  }
}

@media screen and (max-height:350px) {
  .top__bar{
    display: none;
  }
}
/* /responsive */
