/* reset */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.wrapper{
  height: 100vh;
  background-color: #141922;
}
/* typo */
body{
  color: #fff;
  font-family: 'Montserrat', sans-serif;
}
a{
  font-size: 16px;
  color: #666666;
  font-weight: 500;
  text-decoration: none;
}
h4{
  font-size: 16px;
  font-weight: 600;
}
h5{
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 5px;
}
.box__recently span small{
  font-size: 10px;
  color: #666666;
}
/* /typo */
/* mix */
li{
  list-style-type: none;
}
.d__flex{
  display: flex;
}
/* /mix */
/* btn */
#upgrade{
  padding: 10px 30px;
  color: #fff;
  border: 1px solid #fff;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  border-radius: 20px;
  transition: transform 0.2s;
}
#upgrade:hover{
  transform: scale(1.1);
}
#new_playlist{
  text-align: left;
  background-color: transparent;
  color: #717171;
  padding: 10px 0;
  font-size: 18px;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 5px 0 8px;
}
#new_playlist svg{
  height: 30px;
  width: 30px;
  fill: #000;
  background-color: currentColor;
  vertical-align: middle;
}
#new_playlist:hover{
  color: #fff;
}
/* /btn */
/* main */
main{
  height: calc(100% - 100px);
}
/* aside */
aside{
  flex-direction: column;
  height: 100%;
  width: 300px;
  background-color: #000;
  flex-shrink: 0;
  overflow: hidden;
}
header{
  color: #fff;
  padding: 25px 0 25px 10px;
}
.logo{
  fill: #fff;
  width: 140px;
  height: 50px;
  vertical-align: middle;
}
.logo_xs{
  font-size: 20px;
  display: none;
}
/* main__nav */
.main__nav{
  margin-bottom: 20px;
}
.main__nav li a svg{
  vertical-align: text-bottom;
}
.main__nav li a{
  display: inline-block;
  padding: 10px 0 10px 8px;
  border-left: 2px solid transparent;
}
.main__nav li a:hover,
.main__nav li a:focus{
  border-left: 2px solid #adff2f;
  color: #fff;
}

.main__nav__list_xs{
  display: none;
}
/* /main__nav */
.playlist{
  flex-direction: column;
  overflow: hidden;
  padding-left: 10px;
}
.playlist ul{
  overflow: auto;
}
.playlist a{
  display: inline-block;
  padding: 10px 0;
}
.playlist a:hover{
  color: #fff;
}
.user__box{
  padding: 5px 10px;
  margin-top: auto;
}
.install{
  display: inline-block;
  margin-bottom: 10px;
}
.circle{
  text-align: center;
  font-size: 8px;
  height: 15px;
  width: 15px;
  line-height: 15px;
  border: 1px solid #666666;
  border-radius: 50%;
}
.install_xs,
.user_xs{
  display: none;
  margin-top: 5px;
}
.user{
  margin-top: 10px;
}
.user_icon{
  background-color: #808080;
  padding: 4px;
  border-radius: 50%;
}
/* /aside */
/* container */
.container{
  width: 100%;
  overflow-y: auto;
}
.top__bar{
  position: sticky;
  padding-right: 15px;
  top: 0;
  width: 100%;
  height: 100px;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
  line-height: 100px;
  text-align: right;
}
/* second__nav */
.second__nav{
  text-align: center;
  padding: 15px 0;
}
.second__nav li,
.second__nav a{
  display: inline-block;
}
.second__nav a{
  padding: 5px 10px;
  text-transform: uppercase;
}
.second__nav a::after{
  display: block;
  content: '';
  height: 2px;
  width: 22px;
  margin: auto;
  background-color: transparent;
}
.second__nav li:hover a{
  color: #fff;
}
.second__nav li:hover a:after,
.second__nav li:first-child a::after{
  display: block;
  content: '';
  height: 2px;
  width: 22px;
  margin: auto;
  background-color: #adff2f;
}
/* /second__nav */
/* main__box */
.main__box{
  padding-left: 15px;
}
.container__recently{
  flex-wrap: wrap;
}
.box__recently{
  width: calc((100% / 6) - 10px);
  margin-right: 10px;
  text-align: center;
  margin-bottom: 12px;
}
.box__recently_img{
  margin-bottom: 8px;
}
.box__recently_img img{
  width: 100%;
}
/* /main__box */
/* /container */
/* /main */
/* footer */
footer{
  height: 100px;
  background-color: #282828;
  z-index: 20;
}
/* /footer */
/* responsive */
@media screen and (max-width: 1199px) {
  .box__recently{
    width: calc((100% / 4) - 10px);
  }
}
@media screen and (max-width: 991px) {
  .box__recently{
    width: calc((100% / 3) - 10px);
  }
}
@media screen and (max-width: 767px) {
  .box__recently{
    width: calc((100% / 2) - 10px);
  }
}
@media screen and (max-width: 575px) {
  aside{
    width: 50px;
    text-align: center;
  }
  .main__nav__list,
  .playlist,
  .logo{
    display: none;
  }
  header{
    padding: 10px 0;
  }
  .main__nav li a{
    border: none;
    padding: 5px 0;
  }
  .main__nav li a:hover,
  .main__nav li a:focus{
    color: #fff;
    border: none;
  }
  .logo_xs{
    display: inline-block;
  }
  .main__nav__list_xs{
    display: inline-block;
  }
  .install,
  .user{
    display: none;
  }
  .install_xs,
  .user_xs{
    display: inline-block;
    margin-bottom: 5px;
  }
  .user__box hr{
    display: none;
  }

}
/* /responsive */
