/* reset */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  color: #fff;
}
.wrapper{
  height: 100vh;
  background-color: #141922;
}
/* typo */
a{
  font-size: 16px;
  color: #717171;
  text-decoration: none;
}
h4{
  font-size: 18px;
  font-weight: 500;
  color: #fff;
}
/* /typo */
/* mix */
.d__flex{
  display: flex;
}
/* /mix */
/* btn */
#upgrade{
  padding: 10px 30px;
  color: #fff;
  border: 1px solid #fff;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  border-radius: 20px;
  transition: transform 0.2s;
}
#upgrade:hover{
  transform: scale(1.1);
}
#new_playlist{
  background-color: transparent;
  color: #717171;
  padding: 10px 0;
  font-size: 18px;
  border: none;
  outline: none;
  cursor: pointer;
  margin-bottom: 5px;
}
#new_playlist i{
  font-size: 28px;
  vertical-align: middle;
}
#new_playlist:hover{
  color: #fff;
}
/* /btn */
/* main */
main{
  height: calc(100% - 100px);
}
/* aside */
aside{
  position: relative;
  flex-direction: column;
  height: 100%;
  width: 300px;
  background-color: #000;
  flex-shrink: 0;
}
header{
  color: #fff;
  padding: 25px 0 25px 10px;
}
.logo{
  fill: #fff;
  width: 140px;
  height: 50px;
  vertical-align: middle;
}
.logo_xs{
  font-size: 20px;
  display: none;
}
/* main__nav */
.main__nav li a{
  display: inline-block;
  padding: 10px 0 10px 8px;
  border-left: 2px solid transparent;
}
.main__nav li a:hover,
.main__nav li a:focus{
  border-left: 2px solid #adff2f;
  color: #fff;
}
.main__nav{
  margin-bottom: 20px;
}
.main__nav__list_xs{
  display: none;
}
/* /main__nav */
.playlist{
  margin-bottom: 80px;
  overflow: auto;
  padding-left: 10px;
}
.playlist a{
  display: inline-block;
  padding: 10px 0;
}
.playlist a:hover{
  color: #fff;
}
.install{
  height: 80px;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: green;
}
/* /aside */
/* container */
.container{
  width: 100%;
}
.top__bar{
  position: sticky;
  padding-right: 15px;
  top: 0;
  width: 100%;
  height: 100px;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
  line-height: 100px;
  text-align: right;
}
/* second__nav */
.second__nav{
  text-align: center;
  padding: 15px 0;
}
.second__nav li,
.second__nav a{
  display: inline-block;
}
.second__nav a{
  padding: 5px 10px;
  text-transform: uppercase;
}
.second__nav li:hover a{
  color: #fff;
}
.second__nav li:hover a:after{
  display: block;
  content: '';
  height: 2px;
  width: 22px;
  margin: auto;
  background-color: #adff2f;
}
/* /second__nav */
.main__box{
  padding-left: 15px;
}
.box__recently{
  width: calc((100% / 6) - 10px);
  margin-right: 10px;
}
/* /container */
/* /main */
/* footer */
footer{
  height: 100px;
  background-color: #282828;
  z-index: 20;
}
/* /footer */
/* responsive */
@media screen and (max-width: 1199px) {

}
@media screen and (max-width: 991px) {

}
@media screen and (max-width: 767px) {

}
@media screen and (max-width: 575px) {
  aside{
    width: 50px;
  }
  .main__nav__list,
  .playlist,
  .logo{
    display: none;
  }
  header{
    padding: 10px 0 10px 10px;
  }
  .logo_xs{
    display: block;
  }
  .main__nav__list_xs{
    display: block;
  }
  .box__recently{
    width: calc((100% / 2) - 10px);
    margin-right: 10px;
  }
}
/* /responsive */
