/* reset */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.wrapper{
  height: 100vh;
  background-color: #141922;
}
/* typo */
body{
  color: #fff;
  font-family: 'Montserrat', sans-serif;
}
a{
  font-size: 14px;
  color: #666666;
  font-weight: 500;
  text-decoration: none;
}
h2{
  font-weight: 700;
}
h4{
  font-size: 16px;
  font-weight: 600;
}
h5{
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 5px;
}
.box__section span small,
.title__section p{
  font-size: 10px;
  font-weight: 500;
  color: #666666;
  margin-top: 10px;
}
.track_name span small{
  font-size: 10px;
  font-weight: 500;
  color: #666666;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
footer .btn{
  color: #fff;
}
/* /typo */
/* mix */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 20px;

} /* colore di sfondo delle scrollbar */

::-webkit-scrollbar-thumb {
  background-color: #666666;
  border-radius: 20px;
}
.text_center{
  text-align: center;
}
li{
  list-style-type: none;
}
.d__flex{
  display: flex;
}
.title__section{
  margin-bottom: 15px;
}
.overlay{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.0);
  transition: 0.3s;
}
.overlay i{
  position: relative;
  color: #fff;
  font-size: 50px;
  opacity: 0;
  transition: 0.2s;
}
.overlay i:hover{
  color: #1db954;
}
.animation__bar{
  display: none;
  position: absolute;
  bottom: -55px;
  right: -65px;
  width: 6px;
  height: 10px;
  background-color: #1db954;
  animation-name: play_bar;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
.animation__bar:nth-child(2){
  animation-delay: 0.4s;
  right: -55px;
}
.animation__bar:nth-child(3){
  animation-delay: 0.8s;
  right: -45px;
}
.overlay i:hover .animation__bar{
  display: block;
}
.img_circle .overlay i .animation__bar{
  right: -45px;
}
.img_circle .overlay i .animation__bar:nth-child(2){
  right: -35px;
}
.img_circle .overlay i .animation__bar:nth-child(3){
  right: -25px;
}
/* /mix */
/* btn */
.btn{
  background-color: transparent;
  outline: none;
  cursor: pointer;
  border-style: none;
}
#upgrade{
  padding: 10px 30px;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 20px;
  transition: transform 0.3s;
}
#upgrade:hover{
  transform: scale(1.1);
}
#new_playlist{
  text-align: left;
  color: #717171;
  padding: 10px 0;
  font-size: 18px;
  border: none;
  margin: 5px 0 8px;
}
#new_playlist svg{
  height: 30px;
  width: 30px;
  fill: #000;
  background-color: currentColor;
  vertical-align: middle;
}
#new_playlist:hover{
  color: #fff;
}
/* /btn */
/* main */
main{
  height: calc(100% - 100px);
}
/* aside */
aside{
  flex-direction: column;
  height: 100%;
  width: 300px;
  background-color: #000;
  flex-shrink: 0;
  overflow: hidden;
}
header{
  color: #fff;
  padding: 25px 0 25px 10px;
}
.logo{
  fill: #fff;
  width: 140px;
  height: 50px;
  vertical-align: middle;
}
.logo_xs{
  font-size: 20px;
  display: none;
}
/* main__nav */
.main__nav{
  margin-bottom: 20px;
}
.main__nav li a svg{
  vertical-align: text-bottom;
}
.main__nav li a{
  display: inline-block;
  padding: 10px 0 10px 8px;
  border-left: 2px solid transparent;
}
.main__nav li a:hover,
.main__nav li a:focus{
  border-left: 2px solid #adff2f;
  color: #fff;
}

.main__nav__list_xs{
  display: none;
}
/* /main__nav */
.playlist{
  flex-direction: column;
  overflow: hidden;
  padding-left: 10px;
}
.playlist ul{
  overflow: auto;
}
.playlist a{
  display: inline-block;
  padding: 10px 0;
}
.playlist a:hover,
.install:hover,
.install_xs:hover{
  color: #fff;
}
.user__box{
  padding: 5px 10px;
  margin-top: auto;
}
.install{
  display: inline-block;
  margin-bottom: 10px;
}
.circle{
  text-align: center;
  font-size: 8px;
  height: 15px;
  width: 15px;
  line-height: 15px;
  border: 1px solid #666666;
  border-radius: 50%;
}
.install_xs,
.user_xs{
  display: none;
  margin-top: 5px;
}
.install:hover .circle,
.install_xs:hover .circle{
  border: 1px solid #fff;
}
.user{
  margin-top: 10px;
}
.user_icon{
  background-color: #808080;
  padding: 4px;
  border-radius: 50%;
}
/* /aside */
/* container */
.container{
  width: 100%;
  overflow-y: auto;
}
.top__bar{
  position: sticky;
  padding-right: 15px;
  top: 0;
  width: 100%;
  height: 100px;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
  line-height: 100px;
  text-align: right;
}
/* second__nav */
.second__nav{
  text-align: center;
  padding: 15px 0;
}
.second__nav li,
.second__nav a{
  display: inline-block;
}
.second__nav a{
  padding: 5px 10px;
  text-transform: uppercase;
}
.second__nav a::after{
  display: block;
  content: '';
  height: 2px;
  width: 22px;
  margin: auto;
  background-color: transparent;
}
.second__nav li:hover a{
  color: #fff;
}
.second__nav li:hover a:after,
.second__nav li:first-child a::after{
  display: block;
  content: '';
  height: 2px;
  width: 22px;
  margin: auto;
  background-color: #adff2f;
}
/* /second__nav */
/* main__box */
.main__box{
  padding-left: 15px;
}
/* section */
.container__section{
  flex-wrap: wrap;
}
.box__section{
  width: calc((100% / 6) - 10px);
  margin-right: 10px;
  text-align: center;
  margin-bottom: 12px;
  cursor: pointer;
}
.box__section_img{
  position: relative;
  margin-bottom: 14px;
}
.box__section:hover .overlay{
  background-color: rgba(0, 0, 0, 0.5);
}
.box__section:hover .overlay i{
  opacity: 1;
}
.box__section_img img{
  width: 100%;
  display: block;
}
/* section row__most_popular */
.img_circle{
  border-radius: 50%;
  overflow: hidden;
}
/* /section row__most_popular */
/* /section */
/* /main */

/* footer */
footer{
  height: 100px;
  flex-wrap: wrap;
  background-color: #282828;
  z-index: 20;
  padding: 10px;
}
.footer__info_music,
.footer__audio{
  align-items: center;
  width: 25%;
}
.footer__player{
  width: 50%;
}
/* footer__info_music */
.track{
  align-items: center;
}
.folder{
  flex-wrap: wrap;
}
.track_img{
  flex-basis: 20%;
  margin-right: 15px;
}
.track_img img{
  width: 45px;
}
.track_name{
  margin-right: 20px;
}
.folder i{
  margin-right: 5px;
  margin-bottom: 4px;
  color: #666666;
}
.folder i:hover{
  color: #fff;
  cursor: pointer;
}
/* /footer__info_music */
/* footer__player */
.button__player ul,
.track__time{
  justify-content: center;
  align-items: center;
}
.button__player li .btn{
  transition: transform 0.2s;
}
.button__player li{
  margin-right: 25px;
}
.btn__play{
  font-size: 26px;
}
.btn__play:hover{
  transform: scale(1.3);
}
.track__time_bar{
  width: 70%;
  height: 4px;
  margin: 10px;
  background-color: #666666;
}
.track__time_bar,
.charge__bar,
.audio_bar{
  border-radius: 20px;
}
.charge__bar{
  height: 100%;
  width: 30%;
  background-color: #fff;
  position: relative;
  transition: width 2.5s linear;
}
.charge__bar:active{
  width: 100%;
}
.charge__bar:hover{
  background-color: #adff2f;
}
.charge__bar:hover::after{
  position: absolute;
  right: -4px;
  top: -2px;
  display: block;
  content: '';
  height: 8px;
  width: 8px;
  background-color: #fff;
  border-radius: 50%;
}
.track__time::after{
  display: block;
  content: '4:35';
  font-size: 10px;
}
.track__time::before{
  display: block;
  content: '0:25';
  font-size: 10px;
}
/* /footer__player */
/* footer__audio */
.footer__audio{
  justify-content: flex-end;
}
.footer__audio ul{
  align-items: center;
}
.footer__audio li{
  margin-left: 10px;
}
.audio_bar{
  width: 80px;
  height: 4px;
  background-color: #666666;
}
/* footer__audio */
/* /footer */
/* animation */
@keyframes play_bar {
  0% {
    height: 10px;
  }
  5% {
    height: 15px;
  }
  10% {
    height: 20px;
  }
  15% {
    height: 25px;
  }
  20% {
    height: 35px;
  }
  25% {
    height: 30px;
  }
  30% {
    height: 35px;
  }
  35% {
    height: 25px;
  }
  40% {
    height: 20px;
  }
  45% {
    height: 25px;
  }
  50% {
    height: 30px;
  }
  55% {
    height: 20px;
  }
  60% {
    height: 35px;
  }
  65% {
    height: 30px;
  }
  70% {
    height: 25px;
  }
  75% {
    height: 20px;
  }
  80% {
    height: 15px;
  }
  85% {
    height: 20px;
  }
  90% {
    height: 25px;
  }
  95% {
    height: 30px;
  }
  100% {
    height: 15px;
  }
}
/* /animation */
